body {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-image: url("../images/blob-scatter-haikeiInvert.svg") !important;
      background-size: cover;
      background-repeat: no-repeat;
      max-height: 100vh;
      width: 100vw;

      
  }

  .p {
    color: aliceblue
  }
  
  
  
  
  